#device-info {
	font-size: 1.5rem;
	margin-top: 5rem;
	margin-left: 5rem;
	display: flex;
	align-items: center;
}
td {
	padding: 1rem;
}

#delete-button {
	padding: 1.5rem;
}
#delete-button:hover i {
	color: #396fc4;
}
#delete-section {
	margin-left: 5rem;
	display: flex;
	align-items: center;
	height: fit-content;
}
#delete-section div {
	text-align: center;
}
#delete-section input {
	font-size: 1.2rem;
	margin-left: 1rem;
}
#test {
	visibility: hidden;
}
#message {
	color: red;
	width: 15rem;
	margin-top: 0.5rem;
	visibility: hidden;
}
.loader {
	width: 55px;
	display: none;
}
#map {
	height: 50vh;
	width: 36vw;
	margin-right: 2rem;
	border: 1px solid black;
}
.table-container {
	max-height: 50vh;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}
thead th {
	position: sticky;
	top: 0;
	background-color: #f2f2f2;
	z-index: 1;
}
.table-container table {
	border-collapse: collapse;
	font-size: 1.2rem;
}
.table-container th,
.table-container td {
	padding: 1rem;
}

#location-info {
	display: flex;
	margin-top: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
}
#location-table {
	text-align: left;
	border-collapse: collapse;
}
#location-table tbody td,
#location-table thead th {
	border: 1px solid black;
	padding: 1.2rem;
}
#location-table th {
	background-color: #396fc4;
	color: white;
}
#location-table tbody tr {
	transition: background-color 0.3s ease;
}
#location-table tbody tr:hover {
	background-color: #bfd4f5;
	cursor: pointer;
}
#filtering-segment {
	text-align: right;
	font-size: 1.2rem;
	margin: 5rem;
}
#filtering-segment input {
	margin-left: 1rem;
	margin-right: 5rem;
}
#filtering-segment button {
	margin-right: 1rem;
}
.flatpickr-calendar {
	font-size: 1.2rem;
}
#remove-filter-button {
	font-weight: bolder;
}
