body {
	display: grid;
	grid-template-columns: 1fr 6fr;
	margin: 0;
}

#sidebar {
	grid-column: 1;
	background-color: #396fc4;
	height: 100%;
	width: 14%;
	position: fixed;
}

.sidebar-option {
	width: calc(100% - 2rem);
	height: 5rem;
	display: grid;
	grid-template-columns: 3fr 1fr;
	color: white;
	font-weight: bolder;
	font-size: 1.2rem;
	margin-top: 2rem;
	padding: 1rem;
	align-items: center;
	transition: background-color 0.3s ease;
}
.current-page {
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}

.sidebar-option:hover {
	background-color: white;
	cursor: pointer;
}

.sidebar-option:hover i {
	color: #396fc4;
}

.sidebar-option:hover a {
	color: #396fc4;
}

#main-content {
	grid-column: 2;
	height: 100vh;
}

#author {
	color: white;
	position: absolute;
	bottom: 2rem;
	margin-left: 1rem;
}
